/* Estilo para o estado "Ligado" */
.ligado {
    background-color: greenyellow;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
}

/* Estilo para o estado "Desligado" */
.desligado {
    background-color: red;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
}

/* Efeito de hover para ambos os estados */
button:hover {
    opacity: 0.10;
}
